---
layout: default
title: All Remote
extra_css:
  - all-remote.css
---

.wrapper.all-remote-landing
  .hero
    .container
      .row.hero-row 
        .col-md-5.hero-image-col
          -#/images/summits/2019_new-orleans_team.png
          %img{ src: "/images/all-remote/team-wide.png" }
        .col-md-7.hero-content-col
          .hero-content
            %h1 
              %strong 
                GitLab is an all-remote company 
              with team members located in more than 60 countries around the world.
            %p 
              By sharing 
              %a{href: '/company/culture/all-remote/guide/'} challenges and solutions
              to creating a thriving remote culture, we hope to inspire other companies to embrace the future of work. 

  .manifesto
    .container
      .row
        .col-md-5
        .col-md-7
          %h2.monospace-heading
            Remote Manifesto
      .row
        .col-md-4
          .manifesto-list-block
            .manifesto-list-item
              %span 1
              %span Hiring and working from all over the world instead of from a central location.
            .manifesto-list-item
              %span 2
              %span 
                Flexible working hours 
                %em over
                set working hours.
            .manifesto-list-item
              %span 3
              %span 
                Writing down and recording knowledge 
                %em over 
                verbal explanations.
        .col-md-4
          .manifesto-list-block
            .manifesto-list-item
              %span 4
              %span 
                Written down processes 
                %em over 
                on-the-job training.
            .manifesto-list-item
              %span 5
              %span 
                Public sharing of information 
                %em over  
                need-to-know access.
            .manifesto-list-item
              %span 6
              %span 
                Opening up every document for editing by anyone 
                %em over 
                top-down control of documents.
        .col-md-4
          .manifesto-list-block
            .manifesto-list-item
              %span 7
              %span 
                Asynchronous communication 
                %em over 
                synchronous communication.
            .manifesto-list-item
              %span 8
              %span 
                The results of work 
                %em over 
                the hours put in.
            .manifesto-list-item
              %span 9
              %span 
                Formal communication channels 
                %em over 
                informal communication channels.

  .why-remote
    .why-remote-color-block.why-remote-color-block-1
    .why-remote-color-block.why-remote-color-block-2
    .why-remote-color-block.why-remote-color-block-3
    .why-remote-col-wrap
      .why-remote-col.why-remote-col-left
        .why-remote-text
          %h2 Why Remote?
          %p 
            From the cost savings on office space to more flexibility in employees' 
            %a{href: '/company/culture/all-remote/people/'} daily lives,
            all-remote work offers a number of 
            %a{href: '/company/culture/all-remote/benefits/'} advantages
            to organizations and their people.
      .why-remote-col.why-remote-col-right
        .why-remote-video
          .why-remote-color-block.why-remote-color-block-4
          .why-remote-color-block.why-remote-color-block-5
          .why-remote-color-block.why-remote-color-block-6
          .video_container
            %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "https://www.youtube.com/embed/NoFLJLJ7abE"}

  .all-remote-quick-links
    .container
      .all-remote-quick-links-intro
        %h2.monospace-heading
          GitLab's Guide to Remote Work
      .row.row-quick-links-wrap
        .col-md-2 
          %h4 How & Why 
          %ul
            %li 
              %a{ href: "/company/culture/all-remote/vision/"} Vision
            %li 
              %a{ href: "/company/culture/all-remote/tips/"} Tips
            %li 
              %a{ href: "/company/culture/all-remote/benefits/"} Benefits
            %li 
              %a{ href: "/company/culture/all-remote/drawbacks/"} Drawbacks
            %li 
              %a{ href: "/company/culture/all-remote/stories/"} Stories 
            %li 
              %a{ href: "/company/culture/all-remote/history/"} History 
        .col-md-2 
          %h4 Getting Started 
          %ul
            %li 
              %a{ href: "/company/culture/all-remote/getting-started/"} Getting started
            %li 
              %a{ href: "/company/culture/all-remote/evaluate/"} Evaluate
            %li 
              %a{ href: "/company/culture/all-remote/workspace/"} Workspace
            %li 
              %a{ href: "/company/culture/all-remote/jobs/"} Jobs
            %li 
              %a{ href: "/company/culture/all-remote/interviews/"} Interviews 
        .col-md-2 
          %h4 People & Values 
          %ul
            %li 
              %a{ href: "/company/culture/all-remote/people/"} People
            %li 
              %a{ href: "/company/culture/all-remote/values/"} Values
            %li 
              %a{ href: "/company/culture/all-remote/building-culture/"} Building culture
            %li 
              %a{ href: "/company/culture/all-remote/mental-health/"} Mental health
            %li 
              %a{ href: "/company/culture/all-remote/informal-communication/"} Informal communication
            %li 
              %a{ href: "/company/culture/all-remote/working-while-traveling/"} Work while traveling      
        .col-md-2 
          %h4 Management
          %ul
            %li 
              %a{ href: "/company/culture/all-remote/stages/"} Stages of remote
            %li 
              %a{ href: "/company/culture/all-remote/hybrid-remote/"} Hybrid-remote
            %li
              %a{ href: "/company/culture/all-remote/meetings/"} Meetings
            %li 
              %a{ href: "/company/culture/all-remote/transition/"} Transition to remote
            %li 
              %a{ href: "/company/culture/all-remote/management/"} Effective management  
            %li 
              %a{ href: "/company/culture/all-remote/in-person/"} In-person interactions  
            %li 
              %a{ href: "/company/culture/all-remote/scaling/"} Scaling    
        .col-md-2 
          %h4 Hiring & Learning
          %ul
            %li 
              %a{ href: "/company/culture/all-remote/hiring/"} Hiring
            %li 
              %a{ href: "/company/culture/all-remote/compensation/"} Compensation
            %li 
              %a{ href: "/company/culture/all-remote/effective-communication/"} Textual communication 
            %li 
              %a{ href: "/company/culture/all-remote/self-service/"} Self-service
            %li 
              %a{ href: "/company/culture/all-remote/learning-and-development/"} L&D 
            %li 
              %a{ href: "/company/culture/all-remote/events/"} Events    
        .col-md-2 
          %h4 Want to contribute?
          %ul
            %li 
              %a{ href: "/company/culture/all-remote/pick-your-brain/"} Pick your brain
            %li 
              %a{ href: "/company/culture/all-remote/contributions/"} Contribute now
            %li 
              %a{ href: "/company/culture/all-remote/resources/"} Resources 

  .featured-remote-posts
    .featured-remote-posts-content
      .featured-remote-posts-grid
        = partial "includes/recent-posts"
      .text-center
        %a.btn.cta-btn.orange.margin-top20
          View More

  .all-remote-connect-block
    .all-remote-connect-block-content
      .container
        .row
          .col-md-6
            .all-remote-newsletter-block
              %h3 Newsletter Sign Up
              %p Do you want more remote (and less office) in your life? Sign-up for a biweekly dose of tips, tricks and new remote opportunities.
              %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
              %form#mktoForm_1073
              :javascript
                MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1073, function(form) {
                  form.onSuccess(function(values, followUpUrl) {
                    form.getFormElem().hide();
                    document.getElementById('confirmformnewlsetter').style.visibility = 'visible';

                    dataLayer.push({event: 'mktoLead', mktoFormId: form.getId()});
                    return false;
                  });
                  function getgacid() {
                    try {
                      var tracker = ga.getAll()[0];
                      return tracker.get('clientId');
                    } catch (e) {
                      return 'n/a';
                    }
                  }
                  form.vals({
                    'gacid': getgacid()
                  });
                });
              #confirmformnewlsetter{style: "visibility:hidden;"}
                %p.thanks-subscribing
                  Thanks for subscribing!
                  %a{href: "https://www.twitter.com/gitlab", target: "_blank"}
                    Follow us on twitter
                  for even more updates!
          .col-md-6
            .all-remote-social-block
              %h3 Follow Us On:
              %ul
                %li
                  = link_to('https://www.youtube.com/playlist?list=PL05JrBw4t0Kq7QUX-Ux5fOunQotqJbECc') do
                    %img{ src: "/images/all-remote/icon-youtube.svg", alt: "Follow Us On YouTube" }
                    %span.sr-only YouTube                
                %li
                  = link_to('https://www.facebook.com/gitlab') do
                    %img{ src: "/images/all-remote/icon-facebook.svg", alt: "Follow Us On Facebook" }
                    %span.sr-only Facebook                
                %li
                  = link_to('https://www.linkedin.com/company/gitlab-com') do
                    %img{ src: "/images/all-remote/icon-linkedin.svg", alt: "Follow Us On LinkedIn" }
                    %span.sr-only LinkedIn
                %li
                  = link_to('https://twitter.com/gitlab') do
                    %img{ src: "/images/all-remote/icon-twitter.svg", alt: "Follow Us On Twitter" }
                    %span.sr-only Twitter
              
            .all-remote-join-block
              %h3 Join Us
              %a.btn.cta-btn.orange.margin-top20{ href: "/jobs/"}
                View Open Positions
